
.vscode
Results
Results1
reading
ex files
LBMP
Population_data
extra figures
extra_code_files

__pycache__

# All result and unwanted files
*.docx
*.xlsm
*.xlsx
*.txt
*.pdf
*.zip

#Unwanted csv files
1230877_41.09_-74.02_2014 - solar.csv
Cars.csv
EV Sales 2016.csv
PERV2PUB.CSV
battery_price.csv

