__pycache__
.vscode

# All results, unnecessary files, and large files that git cannot handle
Results
LBMP
PC
Population_data
Linear_model
Realistic_model
venv
.pytest_cache
v2g.egg-info

.cache
*.xlsx
*.zip
*.pyc
*.csv
*.CSV