
.vscode
Results
Results1
reading
ex files
LBMP
PC
Population_data
extra figures
extra_code_files

__pycache__

# All result and unwanted files
*.docx
*.xlsm
*.xlsx
*.txt
*.pdf
*.zip
*.pyc

#Unwanted csv files
*.csv

