


html {background-color: inherit;}

/*remove default image styleing*/
.reveal section img {
    border: none;
    box-shadow: none;
    margin:15px;
    background-color: rgba(255, 255, 255, 0.0);
}



/*Used for footer*/
.pull-right {
  float: right !important;
}


.pull-left {
  float: left !important;
}


/*Used for white-space */
.fill-500 {
    height:500px;
}

.fill-200 {
    height:200px;
}

.fill-100 {
    height:100px;
}



/*Used for colors */
.reveal .red {
  color: #EE2222;
}


.reveal small {
    vertical-align: middle;
}

.reveal .bright{
    color: #DDD;
}

.reveal .dull{
    color: #999;
}

.reveal .attn {
    color: #009DCD;
}

.reveal .action-call {
    font-size: 0.5em;
    border-bottom: 0px;

}

.reveal .action-call-h {
    font-size: 1.5em;
/*    color: #009DCD;*/
}

/*Used  footer and footnotes */

.reveal .naked-table table td, .reveal .naked-table th {
    border-bottom: 0px;
}


.footer-img {
    height: 49px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
   font-size: 0.5em;
   height: 40px;

}


.slides .footnotes{

  position:relative;
  text-align: left;
  left: 10px;
  right: 10px;
  font-size: 0.5em;
}

.slides .footer-text {
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.5em;
    height: 40px;
}

.slides .footer-link {
    color: #009DCD;
    margin-left: 10px;
    margin-right: 10px;
}

.slides .footer{
  position:fixed;
  left: 10px;
  bottom:-20px;
  right: 10px;

}

/*Make slide number larger */

.reveal .slide-number {
    font-size: 1.25em;
}

/*Used to allow overlayed fragments*/

}

.frag-container {
    min-height: 400px;
}

.multi-frag {
    position:absolute;
    left: 50%;
    width: 100%;
}

.multi-frag > div {
    position:relative;
    left:-50%;
}

/*roll-in was removed due to Chrome bug. Will risk it*/
.reveal .slides section .fragment.roll-in {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg); }
  .reveal .slides section .fragment.roll-in.visible {
    -webkit-transform: rotateX(0);
            transform: rotateX(0); }


  /*For blurring background*/
.text-background {
    background-color: rgba(255, 255,255, 0.5);
}

.text-background-dark {
    background-color: rgba(255, 255,255, 0.8);
}

.reveal .small {
    font-size: 80%;
}

.reveal .left-align {
    text-align: left;
}